<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido a nuestra plataforma</title>
</head>
<body>
  <div>
    <h1>Bienvenido, {{ name }}!</h1>
    <p>Gracias por unirte a nuestra plataforma.</p>
    <p>Esperamos que disfrutes de tu experiencia con nosotros.</p>
    <img src="{{image}}" alt="Imagen de bienvenida">
  </div>
</body>
</html>
